.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #005F63; /* Transformative Teal - Prediction 2026 */
  border: 10px solid #ffffff;
}

.button {
  font-size: 2rem;
  padding: 20px 50px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
  color: #005F63;
  font-weight: bold;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.button:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.28);
  color: #002e63;
}

